.App {
    text-align: center;
}

.ui.modal {
    left: 20%;
}

.ui.modal>.content>.icon+.description,
.ui.modal>.content>.image+.description {
    width: 60%;
}

.secondary a {
    color: black;
}

.secondary a:hover {
    color: #da00f7;
}

.ui.secondary.menu .active.item {
    background: none !important;
}

.ui.secondary.menu .active.item a {
    color: #da00f7 !important;
}

a.item:hover {
    background: none !important;
    color: black !important;
}

h2 {
    color: purple;
}

.ui.vertical.menu {
    height: 100%;
}

.perfil {
    overflow: hidden;
}

.comienza {
    height: 400px;
    background-image: "https://image.freepik.com/free-vector/shooting-star-and-star-universe-background-illustration_35632-56.jpg";
}