.App {
    text-align: center;
}

.ui.modal {
    left: 20%;
}

.ui.modal>.content>.icon+.description,
.ui.modal>.content>.image+.description {
    width: 60%;
}

.secondary a {
    color: black;
}

.secondary a:hover {
    color: #EB71A5;
}

.ui.secondary.menu .active.item {
    background: none !important;
    color: #EB71A5 !important;
}

a.item:hover {
    background: none !important;
    color: black !important;
}

h2 {
    color: #32aaf2;
    font-size: "2.714286rem";
}

h3 {
    color: #5B386A;
    font-size: "2.714286rem" !important;
}

.ui.vertical.menu {
    height: 100%;
}

.perfil {
    overflow: hidden;
}

.comienza {
    height: 400px !important;
    background-image: url("http://res.cloudinary.com/alinardz/image/upload/v1527379446/comienza.png");
}

.ui.header {
    color: white !important;
}

#imgportada {
    margin: 30px 10%!important;
    width: 500px !important;
}

.ui.segment {
    padding: 0em 1em !important;
}

.btncom {
    padding-top: 200px;
}

.ui.inverted.menu .teal.active.item,
.ui.inverted.teal.menu {
    background-color: #4F4976 !important;
}